:root {
  --main-bg-color: #f0f0f0;
  --main-text-color: #333;
  --link-color: #0066cc;
  --heading-font: 'Arial', sans-serif;
}
nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: var(--link-color);
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main {
  max-width: 840px;
}

main img {
  max-width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {padding: 0;}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  max-width: 200%;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}