nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
}

aside {
  background-color: lightblue;
  color: darkblue;
  padding: 20px;
  margin: 20px;
  border: 1px solid darkblue;
  width: 300px;
}

aside img {
  max-width: 200%;
  height: auto;
}